{
  "type": "postgres",
  "host": "localhost",
  "port": "",
  "username": "",
  "password": "",
  "database": "gobarber",
  "entities": [
    "./src/models/*.ts"
  ],
  "migrations": [
    "./src/database/migrations/*.ts"
  ],
  "cli": {
    "migrationsDir": "./src/database/migrations"
  }
}
